# Analise de nubes automatico

# Sobre este ejercicio
Este ejercicio es sobre el tema de ajuste (fitting) y es parte del examen parcial III (contribuje al puntaje). Es para evitar hacer el examen en Viernes 22.10.2021 demasiado grande. Ustedes tienen tiempo hasta fin del semana para terminarlo y enviar a mi correo: michal.hemmerling@udea.edu.co

# Objetivo de este ejercicio
Aprender automatizar procesos de analisis de datos usando ajuste.

La tabla de Pandas contiene 9 secciónes transversales de nubes de atomos (mira imagen abajo) la primera columna es numero de pixel (1- 1388 porque la anchura de imagen era 1388 pixels) y 9 columnas con amplitudas de secciones transversales de diferentes nubes. La idea es crear un loop que hace fitting (ajuste) cada de este secciónes transversales con funcion gaussiana, y guarda resultados en otra tabla de Pandas en forma: {nombre de nube: temp}.

<img src="imgs/cloud_cross-sections.png" width="500" />

In [1]:
import pandas as pd
import numpy as np
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt
df_cloud_temp = pd.DataFrame()

In [10]:
df=pd.read_csv('clouds_cross_sections.csv')
df.head(1389)

,Unnamed: 0,31m56s.png,10m04s.png,07m36s.png,38m55s.png,03m10s.png,14m04s.png,33m28s.png,06m47s.png,08m25s.png
0,0,-0.0,5.439984e+10,-0.0,1.351954e+10,-0.000000e+00,-0.000000e+00,5.439984e+10,1.096736e+11,-0.0
1,1,-0.0,5.439984e+10,-0.0,1.351954e+10,-0.000000e+00,-0.000000e+00,5.439984e+10,8.192574e+10,-0.0
2,2,-0.0,4.071904e+10,-0.0,1.351954e+10,-0.000000e+00,-0.000000e+00,5.439984e+10,8.192574e+10,-0.0
3,3,-0.0,5.439984e+10,-0.0,1.351954e+10,-0.000000e+00,2.709241e+10,5.439984e+10,5.439984e+10,-0.0
4,4,-0.0,5.439984e+10,-0.0,-0.000000e+00,2.709241e+10,4.071904e+10,-0.000000e+00,4.071904e+10,-0.0
...,...,...,...,...,...,...,...,...,...,...
1383,1383,-0.0,-0.000000e+00,-0.0,2.709241e+10,-0.000000e+00,-0.000000e+00,-0.000000e+00,2.709241e+10,-0.0
1384,1384,-0.0,-0.000000e+00,-0.0,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,2.709241e+10,-0.0
1385,1385,-0.0,-0.000000e+00,-0.0,-0.000000e+00,-0.000000e+00,4.071904e+10,-0.000000e+00,2.709241e+10,-0.0
1386,1386,-0.0,-0.000000e+00,-0.0,-0.000000e+00,-0.000000e+00,5.439984e+10,1.351954e+10,-0.000000e+00,-0.0
1387,1387,-0.0,-0.000000e+00,-0.0,-0.000000e+00,-0.000000e+00,6.813526e+10,-0.000000e+00,-0.000000e+00,-0.0

# Crear una funcion gaussiana para ajuste

In [3]:
# crear una funcion gaussiana que va a ser un argumento para curve_fit.
# esta funcion recibe cuatro argumentos (x,amp,sigma,cm) y vuelve uno: gaussian

def fittingGauss1D(x,amp,sigma,cm):

    return gaussian

# Crear una funcion que hace ajuste

In [4]:
# funcion recibe dos argumentos (x,y) que son 
# x = primera columna de tabla (numero del pixel)
# y = n-ta columna de tabla (valor de la amplituda de la nube)
# la function vuelve valores de ajuste: amp,sigma,cm

def calculate_coefficients(x,y):
    p0=[np.max(y),100,500]

    return amp,sigma,cm

# Funcion "temperature" ya esta lista

In [5]:
# esta funcion esta lista
# recibe valor de ajuste sigma
# vuelve valor de temperatura [K]

def temperature(sigma):
    hbar = 6.626e-34/(2.0*np.pi)
    pixelsize=1.7e-6
    kB=1.38e-23
    TOF=30.0e-3
    m=1.44e-25
    sigma_in_pixels=sigma*pixelsize
    temp = ((sigma_in_pixels)**2.0*m)/(kB*TOF**2.0)
    return temp

# Crear una loop principal que llama otras funciones

In [6]:
# aqui sera loop principal que llama funciones anteriores
# esta loop carga y analisa cada nube: 
# primera columna de tabla y i-ta columna con siguiente nube
# pista: y=df[df.columns[i+1]].to_numpy()
# donde df.columns[i+1] se refiere a nombre de columna con nube
# en la loop se guarda los resulados a otra tabla de Pandas df_cloud_temp
# pista: df_cloud_temp = pd.concat([df_cloud_temp, df_new], axis=1)

for i in range(len(df.columns)-1):
x=primera columna
y=columna[i]
amp,sigma,cm=llama calcular coeficiente()
temp=temperatur(sigma)

SyntaxError: unexpected EOF while parsing (<ipython-input-6-c072ae1a4d77>, line 9)

In [ ]:
df_cloud_temp.head()